@font-face {
    font-family: Brodway;
    src: url(./BroadwayRegular-7Bpow.ttf);
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: antiquewhite;
    font-family: Brodway;
}
body{
    background-color: black;
}


.bodyOriginal { 
    background-image: url(./assests/estrelas.png);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat; 
    background-color: black;  

}

.bodyFadeout{
    background-image: url(./assests/estrelas.png);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat; 
    background-color: black;  
    animation: fadeOut 5s forwards

}



header{
    
    height: calc 120px;
    margin: 10px;

}

header img{
    
    width: 100%;
    border-radius: 7px;
    
 }
 header div{
    gap: 10px;;
    width: 120px;
    display: flex;
    border-radius: 3px;
    padding: 4px; 
}

 
main {
    
    justify-content: center;
    margin-top: 2%;
    display: grid;
    gap: 24px;

}

section{
   
    font-size: 25px;
    line-height: 160%;
    
}
section div{
    
    padding: 10px;
    padding-top: 1px;
    margin-top: 5px;
     
}

section ul{  
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px ;
    list-style: none;
    display: flex;
    gap: 20px;
}

section ul li:hover{
    transform: scale(1.1);
}

main section ul li:nth-child(1){
    animation: fromTheSide 0.7 .2s backwards; 
}
main section ul li:nth-child(2){
    animation: fromTheSide 0.7 .4s backwards; 
}
main section ul li:nth-child(3){
    animation: fromTheSide 0.7 .6s backwards; 
}
main section ul li:nth-child(4){
    animation: fromTheSide 0.7 .8s backwards; 
}
main section ul li:nth-child(5){
    animation: fromTheSide 0.7 1s backwards; 
    
}



/* animation */

@keyframes fromTheSide {
        
    from{  
        opacity: 0;
        transform: translateX(-100px);
    }

    to{ 
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes fadeOut{

    from {
       visibility: visible;
       opacity: 1;

    }
  
    to{
        visibility: hidden;
        opacity: 0;
    }


}